<nav class="side-nav">
  <a href="">
    <h2 id="logo">FLōGRID</h2>
  </a>
  

  <div id="nav-links">
    <div class="nav-cluster">
      <h5>Overview</h5>
      <ul>
        <% 
          let projectLink = ""
          if (typeof board !== "undefined") {
            projectLink = `/kanban/${board._id}`;
          } else if (boardCollection.length >= 1) {
            projectLink = `/kanban/${boardCollection[0]._id}`;
          } else {
            projectLink = "/kanban";
          }
          const navLinks = [
            { name: "Dashboard", icon: "/icons/20px-grey/grid.svg", url: "/kanban" },
            { name: "My Projects", icon: "/icons/20px-grey/layout.svg", url: projectLink },
            { name: "My Tasks", icon: "/icons/20px-grey/list.svg", url: "" },
            { name: "Timeline", icon: "/icons/20px-grey/calendar.svg", url: "" },
          ];
          navLinks.forEach((nav) => {
        %>
          <li class="<%= currentPage === nav.name ?  "current-nav" : "" %>">
           <a href="<%= nav.url %>">
            <%
              let iconLink = nav.icon;
              if (currentPage === nav.name) {
                iconLink = iconLink.replace("grey", "white");
              }
            %>
            <img src="<%= iconLink %>" alt="">
            <p><%= nav.name %></p>
          </a>
        </li>
      <% }); %>
      </ul>
    </div>

    <div class="nav-cluster">
      <h5>Projects</h5>
      <ul>
        <% boardCollection.forEach((project)=> { %>
          <li class="">
            <a href="/kanban/<%= project._id %>">
              <div 
                class="nav-project" 
                <% let styleString = `background-color: ${project.color}40; border-color: ${project.color};`; %>
                style="<%= styleString %>">
              </div>
              <p><%= project.title %></p>
            </a>
          </li>
        <% }); %>
      </ul>
    </div>
  </div>

  <ul id="nav-last">
    <li class="">
      <a href="">
        <img src="/icons/20px-grey/settings.svg" alt="">
        <p>Settings</p>
      </a>
    </li>
    <li class="">
      <a href="">
        <img src="/icons/20px-grey/log-out.svg" alt="">
        <p>Sign Out</p>
      </a>
    </li>
  </ul>

</nav>