<section id="kanban">

  <% board.section.forEach((collection, index) => { %>
    <div class="kanban-collection panel-level-1">
      <div class="kanban-header">
        <h4 class="kanban-title"><%= collection.title %></h4>
        <p class="collection-size"><%= collection.size %></p>
        <button type="button" class="btn-ghost"><img src="/icons/20px-grey/more-horizontal.svg" alt=""></button>
      </div>

      <div class="collection-color" style="background-color: <%= collection.color %>"></div>
      
      <div class="kanban-list">

        <a href="/kanban/<%= board._id %>/new?section=<%= collection.title %>" class="panel-level-2 task-card">
          <img src="/icons/24px-grey/plus-circle.svg" alt="">
        </a>

        <% taskCollection[index].forEach(task=> { %>
          <a href="/kanban/<%= board._id %>/new" class="panel-level-2 task-card">
        
          </a>
        <% }) %>

      </div>
      
    </div>
  <% }) %>

  <!-- <script>
    // Enable horizontal scrolling on mWheel
    const kanbanBoard = document.getElementById('kanban');
    kanbanBoard.addEventListener('wheel', (event) => {
      event.preventDefault();
      kanbanBoard.scrollLeft += event.deltaY;
    });
  </script> -->

</section>