<section id="kanban">

  <% board.section.forEach((collection, index) => { %>
    <div class="kanban-collection panel-level-1">
      <div class="kanban-header">
        <h4 class="kanban-title"><%= collection.title %></h4>
        <p class="collection-size"><%= collection.size %></p>
        <button type="button" class="btn-ghost"><img src="/icons/20px-grey/more-horizontal.svg" alt=""></button>
      </div>

      <div class="collection-color" style="background-color: <%= collection.color %>"></div>
      
      <div class="kanban-list">

        <a href="/kanban/<%= board._id %>/new?section=<%= collection.title %>" class="panel-level-2 task-card-add">
          <img src="/icons/24px-grey/plus-circle.svg" alt="">
        </a>

        <% taskCollection[index].forEach(task=> { %>
          <a href="/kanban/<%= board._id %>/<%= task._id %>" class="panel-level-2 task-card">
            <div class="kanban-task-head">
              <h3><%= task.title %></h3>

              <% if (task.isCompleted) { %>
                <img src="/icons/20px-white/check-circle.svg" alt="">
              <% } else { %>
                <img src="/icons/20px-grey/circle.svg" alt="">
              <% } %>
            </div>

            <p class="<%= task.priority %>-priority priority"><%= task.priority %> Priority</p>

            <div class="kanban-task-footer">
              <img src="<%= currentUser.profilePicture %>" alt="<%= currentUser.nickname %>" class="kanban-pfp">
              <% 
                const dateFormatted = task.dueDate.toLocaleDateString('en-US', { month: 'long', day: 'numeric' });
              %>
              <p><%= dateFormatted %></p>

              <div class="kanban-task-comments">
                <p><%= task.comments.length %></p>
                <img src="/icons/16px-grey/message-circle.svg" alt="">
              </div>
            </div>

          </a>
        <% }) %>

      </div>
      
    </div>
  <% }) %>

</section>