<section class="panel-level-1">

  <div class="panel-header">
    <div class="panel-header-title">
      <img src="/icons/24px-white/layout.svg" alt="">
      <h2>My Projects</h2>
    </div>
    <button type="button" class="btn-accent btn-small" onclick="showModal()" >
      <p>Create a Board</p>
      <img src="/icons/16px-white/folder-plus.svg" alt="">
    </a>
  </div>


  <ul class="horizontal-list">

  <% 
    // WHEN SCHEMA CONNECTED...
    // - REMOVE BOARDS ABOVE
    // - SET BOARDS.FOREACH TO THE RIGHT OBJ NAME
    // - SET PROPER KEYS BELOW
    boardCollection.forEach(project => {
  %>

    <li class="panel-level-2 project-card">
      <a href="/kanban/<%= project._id %>">
        <div class="project-card-header">
          <img src="<%= project.icon %>" alt="">
          <% const styleString=`background-color: ${project.color}40; border-color: ${project.color};`; %>
            <div class="project-color" style="<%= styleString %>"></div>
        </div>
        
        <div class="project-card-content">
          <h3><%= project.title %></h3>
          <ul>
            <li>
              <%
                let totalProjects = 0;
                project.section.forEach(section => {
                  totalProjects += section.size;
                })
              %>
              <p><%= totalProjects %></p>
              <h5>Total Tasks</h5>
            </li>
            <li>
              <p><%= project.progressCounter %></p>
              <h5>In Progress</h5>
            </li>
          </ul>
        </div>
      </a>
    </li>
  <% }); %>
    <li>
      <button type="button" onclick="showModal()" class="panel-level-2 add-card">
        <img src="/icons/projects/plus-circle.svg" alt="" class="new-icon">
      </button>
    </li>
  </ul>

  <script>
    function showModal() {
      document.getElementById("modal");
      modal.classList.toggle("modal-hidden")
    }
  </script>
</section>