<section class="panel-level-1">

  <div class="panel-header">
    <div class="panel-header-title">
      <img src="/icons/24px-white/layout.svg" alt="">
      <h2>My Projects</h2>
    </div>
    <a href="/kanban/new" class="btn-accent btn-small">
      <p>Create a Board</p>
      <img src="/icons/16px-white/folder-plus.svg" alt="">
    </a>
  </div>


  <ul class="horizontal-list">

  <% 
  const boards = [
    { title: "Event Planning", tasks: 5, inProgress: 2, color: "A681C2", icon: "/icons/projects/printer.svg", _id: "68fc4b1d1f06872ff1d3a09d" },
    { title: "Social Media", tasks: 5, inProgress: 2, color: "C29581", icon: "/icons/projects/tablet.svg", _id: "68fc4b1d1f06872ff1d3a09d" },
    { title: "Web Production", tasks: 5, inProgress: 2, color: "81A5C2", icon: "/icons/projects/github.svg", _id: "68fc4b1d1f06872ff1d3a09d" },
    { title: "Content Writing", tasks: 5, inProgress: 2, color: "81C286", icon: "/icons/projects/pen-tool.svg", _id: "68fc4b1d1f06872ff1d3a09d" },
    { title: "Podcasts", tasks: 5, inProgress: 2, color: "C57E95", icon: "/icons/projects/mic.svg", _id: "68fc4b1d1f06872ff1d3a09d" },
  ]
  // WHEN SCHEMA CONNECTED...
  // - REMOVE BOARDS ABOVE
  // - SET BOARDS.FOREACH TO THE RIGHT OBJ NAME
  // - SET PROPER KEYS BELOW
  boards.forEach(project => {
  %>

    <li class="panel-level-2 project-card">
      <a href="/kanban/<%= project._id %>">
        <div class="project-card-header">
          <img src="<%= project.icon %>" alt="">
          <% const styleString=`background-color: #${project.color}40; border-color: #${project.color};`; %>
            <div class="project-color" style="<%= styleString %>"></div>
        </div>
        
        <div class="project-card-content">
          <h3><%= project.title %></h3>
          <ul>
            <li>
              <p><%= project.tasks %></p>
              <h5>Total Tasks</h5>
            </li>
            <li>
              <p><%= project.inProgress %></p>
              <h5>In Progress</h5>
            </li>
          </ul>
        </div>
      </a>
    </li>
  <% }); %>
    <li class="panel-level-2 add-card">
      <a href="/kanban/new">
        <img src="/icons/projects/plus-circle.svg" alt="" class="new-icon">
      </a>
    </li>
  </ul>

</section>