<section class="panel-level-1 fill-height">

  <div class="panel-header">
    <div class="panel-header-title">
      <img src="/icons/24px-white/list.svg" alt="">
      <h2>My Tasks</h2>
    </div>
    <div class="btn-ghost">
      <p>Project</p>
      <img src="/icons/16px-grey/arrow-down.svg" alt="">
    </div>
  </div>


  <% 
    const tableColumns = [ "color", "title", "description", "collection", "due Date" ];
  %>
  <div class="task-table">

    <div class="task-table-row">
      <% tableColumns.forEach(header => { %>
      <% if (header === "color") { %>
        <h5>&nbsp;</h5>
      <% } else { %>
        <h5><%= header %></h5>
      <% } %>
    <% }) %>
    </div>

    <ul>
      <% taskCollection.forEach(task => { %>
        <% const targetCollection = boardCollection.find(board => board._id.toString() == task.board.toString()) %>
        <li>
          <a href="" class="task-table-row table-row-link">
          <% tableColumns.forEach(col => { %>
            <% col = col.replace(" ", "") %>
            <% if (col === "color") { %>
              <div>
                <div 
                  class="board-color"
                  <% const styleString = `background-color: ${targetCollection.color}40; border-color: ${targetCollection.color};` %>
                  style="<%= styleString %>">
                </div>
              </div>

            <% } else if (col === "title") { %>
              <p class="table-strong"><%= task.title %></p>

            <% } else if (col === "dueDate") { %>
              <% 
                const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                const day = task.dueDate.getDate();
                const month = months[task.dueDate.getMonth()]
              %>
              <p class="table-weak"><%= month %> <%= day %></p>

            <% } else { %>
              <p class="table-weak"><%= targetCollection.title %></p>
            <% } %>
          <% }) %>
          </a>
        </li>
      <% }) %>
    </ul>
    
  </div>

</section>