<div id="newTask">

  <form action="/kanban/<%= board._id %>/<%= currentTask.id %>?_method=PUT" method="POST">
  
    <!-- Controls -->
    <%- include("../../partials/modals/partials/modalControls", { btnText1: "Close" , btnIcon1: null,
      btnText2: "Save Changes" , btnIcon2: "/icons/20px-white/save.svg" }) %>
  
    
    <div class="secondary-controls">
      <!-- <input type="checkbox" name="isCompleted"> -->
      <button type="submit" formaction="/kanban/<%= board._id %>/<%= currentTask._id %>?_method=DELETE">Delete</button>
    </div>


    <textarea type="text" name="title" id="title" class="task-title-input" required><%= currentTask.title %></textarea>

    <div class="input-cluster">

      <div class="input-horizontal">
        <label for="owner">Assignee</label>
        <input type="text" name="owner" id="owner" value="<%= currentTask.owner %>">
      </div>

      <div class="input-horizontal">
        <label for="dueDate">Due Date</label>
         <!-- The date obj is an "Date" obj, which is not very parseable, so start by converting it to UTC time -->
         <!-- Gets the due date as 2025-10-25T00:00:00.000Z, but we must remove all after the "T" -->
         <!-- So, Split at the "T", and return the 1st elem of the new array -->
        <% const providedDate = currentTask.dueDate ? currentTask.dueDate.toISOString().split("T")[0] : "" %>
        <input type="date" name="dueDate" id="dueDate" value="<%= providedDate %>">
      </div>

      <div class="input-horizontal">
        <label for="priority">Priority</label>
        <select type="text" name="priority" id="priority" value="John Macdonald">
          <% 
            const priorities = [
              { value: "low", label: "Low Priority", color: "#FCD29F" },
              { value: "medium", label: "Medium Priority", color: "#A5DCFF" },
              { value: "high", label: "High Priority", color: "#FF9694" },
            ];
            priorities.forEach(priority => {
          %>
            <% if (priority.value === currentTask.priority) { %>
              <option value="<%= priority.value %>" selected ><%= priority.label %></option>
            <% } else { %>
              <option value="<%= priority.value %>"><%= priority.label %></option>
            <% } %>
          <% }); %>
        </select>
      </div>

      <div class="input-horizontal">
        <label for="section">Stage</label>
        <select type="text" name="section" id="section">
          <% board.section.forEach(stage => { %>
            <% const stageCleaned = stage.title.replaceAll(" ", "") %>
            <% if (stage.title.replaceAll(" ", "") === currentTask.section) { %>
              <option value="<%= stageCleaned %>" selected><%= stage.title %></option>
            <% } else { %>
              <option value="<%= stageCleaned %>"><%= stage.title %></option>
            <% } %>
          <% }); %>
        </select>
      </div>

    </div>

    <div class="input-flex">
      <label for="description">Description</label>
      <textarea name="description" id="description"><%= currentTask.description %></textarea>
    </div>


  </form>

  <form action="" class="comment-form">
    <h5>Comments</h5>

    <ul class="commentsList">

    </ul>

    <input type="text" placeholder="Add a comment..." class="comment-input">
  </form>

</div>
