<div id="newTask">

  <form action="/kanban/<%= board._id %>/<%= currentTask.id %>?_method=PUT" method="POST">
  
    <!-- Controls -->
    <%- include("../../partials/modals/partials/modalControls", { btnText1: "Close" , btnIcon1: null,
      btnText2: "Save Changes" , btnIcon2: "/icons/20px-white/save.svg" }) %>
  
    
    <div class="secondary-controls">
      <!-- <input type="checkbox" name="isCompleted"> -->
       <label class="is-completed-checkbox">
        <% if (currentTask.isCompleted) { %>
          <input type="checkbox" name="isCompleted" id="isCompleted" checked>
          <span id="isCompletedText">Finished</span>
          <img src="/icons/16px-white/check-circle.svg" alt="checkbox" class="checkbox-icon" id="isCompeledImg">
        <% } else { %>
          <input type="checkbox" name="isCompleted" id="isCompleted">
          <span id="isCompletedText">Finish Task</span>
          <img src="/icons/16px-grey/circle.svg" alt="checkbox" class="checkbox-icon" id="isCompeledImg">
        <% } %>
       </label>
      <button type="submit" formaction="/kanban/<%= board._id %>/<%= currentTask._id %>?_method=DELETE">Delete Task</button>
    </div>


    <script>
      const checkbox = document.getElementById("isCompleted");
      const image = document.getElementById("isCompeledImg");
      const text = document.getElementById("isCompletedText");

      checkbox.addEventListener("change", () => {
        image.setAttribute("src", checkbox.checked ? "/icons/16px-white/check-circle.svg" : "/icons/16px-grey/circle.svg");
        text.innerText = checkbox.checked ? "Finished" : "Finish Task"
      });

    </script>


    <textarea type="text" name="title" id="title" class="task-title-input" required><%= currentTask.title %></textarea>

    <div class="input-cluster">

      <div class="input-horizontal">
        <label for="owner">Assignee</label>
        <input type="text" name="owner" id="owner" value="<%= currentTask.owner %>">
      </div>

      <div class="input-horizontal">
        <h5>Due Date</h5>
        <label id="date-picker">
          <img src="/icons/16px-grey/calendar.svg" alt="date picker" id="date-image">
          <input type="date" name="dueDate" id="due-date">
        </label>
      
      
        <script>
          const fp = flatpickr("#due-date", {
            utc: true,
            dateFormat: "Y-m-d", // original Format
            altInput: true, // No alt inf
            altFormat: "M j, Y",
            allowInput: false,
            defaultDate: <%- currentTask.dueDate ? JSON.stringify(currentTask.dueDate.toISOString().split('T')[0]) : 'null' %>,
          });

          const label = document.getElementById("date-picker");
          label.addEventListener("click", () => {
            fp.open();
          })
        </script>
      </div>







      <div class="input-horizontal">
        <label for="priority">Priority</label>
        <select type="text" name="priority" id="priority" value="John Macdonald">
          <% 
            const priorities = [
              { value: "low", label: "Low Priority", color: "#FCD29F" },
              { value: "medium", label: "Medium Priority", color: "#A5DCFF" },
              { value: "high", label: "High Priority", color: "#FF9694" },
            ];
            priorities.forEach(priority => {
          %>
            <% if (priority.value === currentTask.priority) { %>
              <option value="<%= priority.value %>" selected ><%= priority.label %></option>
            <% } else { %>
              <option value="<%= priority.value %>"><%= priority.label %></option>
            <% } %>
          <% }); %>
        </select>
      </div>

      <div class="input-horizontal">
        <label for="section">Stage</label>
        <select type="text" name="section" id="section">
          <% board.section.forEach(stage => { %>
            <% const stageCleaned = stage.title.replaceAll(" ", "") %>
            <% if (stage.title.replaceAll(" ", "") === currentTask.section) { %>
              <option value="<%= stageCleaned %>" selected><%= stage.title %></option>
            <% } else { %>
              <option value="<%= stageCleaned %>"><%= stage.title %></option>
            <% } %>
          <% }); %>
        </select>
      </div>

    </div>

    <div class="input-flex">
      <label for="description">Description</label>
      <textarea name="description" id="description"><%= currentTask.description %></textarea>
    </div>


  </form>

  <form action="/kanban/<%= board._id %>/<%= currentTask.id %>/comment" method="POST" class="comment-form">
    <h5>Comments</h5>

    <ul class="comment-list">
      <% currentTask.comments.forEach(comment => {%>
        <li>
          <img src="" alt="" class="comment-pfp">
          <div class="comment-contents">
            <div class="comment-info">
              <p>John Smith</p>
              <% const commentTime = comment.time.toDateString() %>
              <p><%= commentTime %></p>
            </div>
            <p class="comment-item"><%= comment.message %></p>
          </div>
        </li>
      <% }); %>
    </ul>

    <input type="text" name="message" placeholder="Add a comment..." class="comment-input" required>
    <button type="submit" class=""><img src="/icons/16px-white/send.svg" alt=""></button>
  </form>

</div>
