<%- include("../partials/htmlHeader") %>
<%- include("../partials/sideNav") %>
<main>
  <%- include("../partials/topNav") %>
  <div id="view-split">
    <section id="main-view">
      <%- include("../partials/dashboard/projects") %> 
      <%- include("../partials/dashboard/tasks") %>
    </section>
    
    <%- include("../partials/modals/newProject") %>
    
  </div>
  
  
  

</main