<%- include("../partials/htmlHeader") %>
<%- include("../partials/sideNav") %>


<main>
  <%- include("../partials/topNav") %>
    <div id="view-split">
      <%- include("../partials/dashboard/kanban.ejs") %>
      <%- include("../partials/modals/editProject.ejs") %>
      <%- include("../partials/modals/account") %>
    </div>
  </div>
</main>
