<%- include("../partials/htmlHeader") %>
<%- include("../partials/sideNav") %>


<main>
  <%- include("../partials/topNav") %>
  <%- include("../partials/dashboard/kanban.ejs") %>
  
  <%- include("../partials/modals/newTask.ejs") %>
  
<form action="/kanban/<%= board._id %>?_method=delete" method="POST">
  <button type="submit">Delete this Board</button>
</form>
</main>
