<%- include("../partials/htmlHeader") %>
<%- include("../partials/sideNav") %>


<main>
  <%- include("../partials/topNav") %>
  <div id="view-split">
    <%- include("../partials/dashboard/kanban.ejs") %>
    <%- include("../partials/modals/editTask.ejs") %>
    <%- include("../partials/modals/account") %>
  </div>

  
  
</main>
