<div class="modal-controls">

  <% if (btnText1 === "Close") {%>
    <!-- Task Edit Modal -->
    <a class="btn-light btn-small" href="/kanban/<%= board._id %>">
      <p><%= btnText1 %></p>
      <% if (btnIcon1 !=null) { %>
        <img src="<%= btnIcon1 %>" alt="">
      <% } %>
    </a>
  <% } else { %>
    <!-- Stanard Modals -->
    <button class="btn-light btn-small" type="button" id="close" onclick="clickEvent(event)">
      <p><%= btnText1 %></p>
      <% if (btnIcon1 != null) { %>
        <img src="<%= btnIcon1 %>" alt="">
      <% } %>
    </button>
  <% } %>
  


  <button class="btn-accent btn-small" type="submit">
    <p><%= btnText2 %></p>
    <% if (btnIcon2 != null) { %>
      <img src="<%= btnIcon2 %>" alt="">
    <% } %>
  </button>


  <script>
    function clickEvent(event) {
      const action = event.currentTarget.id;
      if (action === "close") {
        console.log("YES")
        const modal = document.querySelectorAll(".modal-element");
        modal.forEach(elem => {
          elem.classList.add("modal-hidden");
        })
      }
      
    }
    
  </script>


</div>